<footer>
		<p id="foot"><br>Copyright &copy 2018 Obbies Group</p>
		<!--<a href="mailto:contact@obbank.com">Contact us</a>-->
		<div id="social">
			<a href="#"><img src="/images/i1.png" height="35" width="35"></img></a>
			<a href="#"><img src="/images/i2.png" height="35" width="35"></img></a>
			<a href="#"><img src="/images/i3.png" height="35" width="35"></img></a>
		</div>
	</footer>

