<% include partials/header %>
<body>
	<header>
		<img src="/images/logowithtext.png" height="100" width="250"></img>
	</header>
	
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a class="active" href="/">About Us</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</nav>
	
	<main>

		<div class="row">
					<div id="history" class="jumbotron">
						<h2>History</h2>
						<p>Obbies Group was formed during Week 4, when Dr. Chiam uploaded the assignment instruction</p>
					</div>
					<div id="mission" class="jumbotron">
						<h2>Mission</h2>
						<p>To become the best financial manager for people worldwide and provide best support for our partners</p>
					</div>
					<div id="vision" class="jumbotron">
						<h2>Vision</h2>
						<p>Customers satisfaction is our priority. Let's us worry about your finance, not you.</p>
					</div>
					<div id="services" class="jumbotron">
						<h2>Services</h2>
						<p>At ObBank, we assist you to:<br>
							<ul class="s">
								<li class="s">Set your personal finance goals</li>
								<li class="s">Manage your daily expenses</li>
								<li class="s">Generate report on your monthly expenses</li>
							</ul>
						</p>
					</div>
					<div id="team" class="jumbotron">
						<h2>Our Team</h2>
						<p>Wan Muhammad Amir<br>
						Hamizan Nordin<br>
						Icak Syazani<br>
						Shah and Abu 
						</p>
					</div>
		</div>
	
	
	</main>
	
	<% include partials/footer %>

</body>

</html>