<!DOCTYPE html>
<html lang="en">

<head>
	<title>Obbank</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--<style type="text/css">
		body {background:#B4BFFF !important;}
	</style>-->
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>

<body>
	
	<main>
		<br><br><img id="oblogo" src="/images/logowithtext.png" height="100" width="250"></img>
		<br><br><br><h1>Oops, page didn't exist. Yet.</h1><br><br>
		<a href="/"><h3>Back</h3></a>
	</main>

</body>

</html>